<div class="card text-center my-5 mx-auto" style="width: 80%; max-width: 80rem;">
  <div class="card-body">
    <mat-card class="my-2">
      <div>3:54 PM 20/2/2022</div>
      <div> camion 1 est parti</div>
      <button class="btn btn-outline-info">Facturer</button>

    </mat-card>
    <mat-card class="my-2">
      <div>3:00 PM 20/2/2022</div>
      <div> camion 1 est arrivé</div>
    </mat-card>
    <mat-card class="my-2">
      <div>3:54 PM 20/2/2022</div>
      <div> camion 2 est parti</div>
            <button class="btn btn-outline-info">Facturer</button>

    </mat-card>
    <mat-card class="my-2">
      <div>3:00 PM 20/2/2022</div>
      <div> camion 2 est arrivé</div>
    </mat-card>
  </div>
</div>
